@charset "UTF-8";
@import "./common/var.css";

@component-namespace el{


  @b jdate-time-picker{


    display: inline-block;
  }
  #ui-datepicker-div select.ui-datepicker-year,
  #ui-datepicker-div select.ui-datepicker-month{
    width: 4em;
    border: 0;
    font-size: 14px;
    outline: 0;
    vertical-align: 0;
    background: none;
    position: relative;
    top: -0.5px;
  }
  #ui-datepicker-div select.ui-datepicker-month{
    top: 0;
  }
}
